* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

div {
  margin-top: 1.5em;
  padding: 0 0.5em;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #e5b4b4;
}
